<div fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="updatePasswordForm" class="container" fxFlex="350px" fxLayout="column" fxLayoutGap="20px" appCenter>
        <h2>Update Password</h2>
        <p>Your Email address <b>{{ email }}</b></p>
        <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="password" placeholder="New Password" formControlName="password">
            @if(updatePasswordForm.get('password')?.errors?.['required']){
            <mat-error>This field is required</mat-error>
            }
            @if(updatePasswordForm.get('password')?.errors?.['minlength']){
            <mat-error>Should be minimum 6 Letters</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            @if(updatePasswordForm.get('confirmPassword')?.errors?.['required']){
            <mat-error>This field is required</mat-error>
            }
            @if(updatePasswordForm.get('confirmPassword')?.errors?.['minlength']){
            <mat-error>Should be minimum 6 Letters</mat-error>
            }
        </mat-form-field>
        <button mat-raised-button (click)="updatepassword()">Update</button>
    </form>
</div>