.container {
    border: 1px solid #dddd;
    padding: 20px 30px;
    border-radius: 10px;
}
.container .login-link {
    color: #6797ec;
    font-size: 10px;
}
.container .login-link mat-icon{
    font-size: 12px;
}