.container form{
    border: 1px solid #dddd;
    padding: 20px 30px;
    border-radius: 10px;
}
.container form .forget-password-link{
    color: #6797ec;
    font-size: 10px;
}
.container form .signup-link{
    text-decoration: underline;
    color: #6797ec;
}